<!DOCTYPE html>
<html>
  <head>
    <title>IoT TV Remote</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <style media="screen">
      body {
        margin-left: 15px;
      }
    </style>
  </head>
  <body>

    <div class="row">
      <div class="col-xs-12 text-center">
        IoT TV Remote
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2">
        <button type="button" class="btn btn-danger" id="power">Power</button>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2">
        <button type="button" class="btn btn-success" id="cable-box">Cable Box</button>
      </div>
      <div class="col-xs-2">
        <button type="button" class="btn btn-success" id="hdmi2">HDMI 2</button>
      </div>
      <div class="col-xs-2">
        <button type="button" class="btn btn-success" id="xbox">Xbox</button>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2">
        <button type="button" class="btn btn-info" id="volume-up-five">Volume +5</button>
      </div>
      <div class="col-xs-2">
        <button type="button" class="btn btn-info" id="volume-up-ten">Volume +10</button>
      </div>
      <div class="col-xs-2">
        <button type="button" class="btn btn-info" id="volume-up-fiften">Volume +15</button>
      </div>
      <div class="col-xs-2">
        <button type="button" class="btn btn-info" id="volume-up-twenty">Volume +20</button>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2">
        <button type="button" class="btn btn-warning" id="volume-down-five">Volume -5</button>
      </div>
      <div class="col-xs-2">
        <button type="button" class="btn btn-warning" id="volume-down-ten">Volume -10</button>
      </div>
      <div class="col-xs-2">
        <button type="button" class="btn btn-warning" id="volume-down-fiften">Volume -15</button>
      </div>
      <div class="col-xs-2">
        <button type="button" class="btn btn-warning" id="volume-down-fiften">Volume -20</button>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2">
        <button type="button" class="btn btn-warning" id="mute">Mute</button>
      </div>
    </div>

    <script type="text/javascript">
      $('#power').click(function() {
        console.log('hello')
        $.ajax({
          type: "POST",
          url: '/api',
          data: {action: "power", value: "on"},
          success: function(){},
          dataType: 'json'
        });
      });
    </script>

  </body>
</html>
